<header id="header">
    <div class="container">
        <div class="row">
            <div class="overlay-mobile js-toggle-menu"></div>
            <div class="w-logo col-md-3">	
                <a href="index.html" class="logo-container " >
                    <img src="../../images/logo.svg" class="logo" alt="Saigon Star International School">
                </a>
            </div>				
            <div class="main-menu-container  col-md-9">
                <div class="toggle-menu-container">
                    <button class="toggle-menu js-toggle-menu">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </button>
                </div>
                <div class="main-menu-wrap">
                    <div class="js-toggle-menu close-btn-mobile">X</div>
                    <a href="#" class="mobile-logo-container">
                        <img src="../../images/logo.svg" class="mobile-logo w-100" alt="Saigon Star International School">
                    </a>
                    <div class="navi-top">
                        <div class="language flex-center">
                            <a href="#" class="l-en">EN</a>
                            <a href="#" class="l-vn active">VI</a>
                        </div>
                        <div class="border-radian hotline"><a href="tel:+8488806996">+84 8880 6996</a></div>
                        <div class="btn-blue">Book a tour</div>
                        <div class="btn-blue">Enquire Now</div>
                    </div>                        
                    <ul id="main-menu" class="main-menu">
                        <li class="current_page_item ico-home"><a href="index.html" class="active">Trang chủ</a></li>
                        <li class="menu-item-has-children"><a href="about-us.html">About us</a>
                            <ul class="sub-2">
                                <li><a href="vision-guiding-statement.html">Vision/ Guiding Statement</a></li>
                                <li><a href="campus.html">Campus</a></li>
                                <li><a href="leadership.html">Leadership</a></li>
                                <li><a href="teacher.html">Teacher</a></li>
                                <li><a href="accreditation.html">Accreditation</a></li>
                                <li><a href="career-at-SGSIS.html">Career at SGSIS</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="curriculum.html">Curriculum</a>
                            <ul class="sub-2">
                                <li><a href="early-years.html">Early Years</a></li>
                                <li><a href="primary-years.html">Primary Years</a></li>
                                <li><a href="extra-curriculum-activities.html">Extra Curriculum Activities</a></li>
                                <li><a href="student-showcase-achievement.html">Student Showcase & Achievement</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="admission.html">Admission</a>
                            <ul class="sub-2">
                                <li><a href="tuition-fee.html">Tuition Fee</a></li>
                                <li><a href="admission-policy.html">Admission Policy</a></li>
                                <li><a href="application.html">Application</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="school-life.html">School Life</a>
                            <ul class="sub-2">
                                <li><a href="safeguards-children-protection.html">Safeguards & Children Protection</a></li>
                                <li><a href="school-calendar.html">School Calendar</a></li>
                                <li><a href="student-support-service.html">Student Support Service</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="student-council.html">Student Council</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="events-news.html">Events & News</a>
                            <ul class="sub-2">
                                <li><a href="promotion-event.html">Promotion Event</a></li>
                                <li><a href="community-event.html">Community Event</a></li>
                                <li><a href="SGSIS-news.html">SGSIS News</a></li>
                                <li><a href="blogs.html">Blogs</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>            
                    
    </div>
</header>
