<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <!-- Bootstrap CSS -->
    <link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="../core/styles/main.css">
    <link rel="stylesheet" href="../core/styles/homepage.css">
</head>
<body>
    <!-- Nội dung trang web của bạn -->
    <div class="container">
        Footer
    </div>
    <!-- jQuery -->
    <script src="../core/script/jquery.js"></script>
    <!-- Main JS -->
    <script src="../core/script/main.js"></script>
    <!-- Bootstrap JS -->
    <script src="../libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>
