@import "template.css";
@import "main.scss";

#about {
  .content {

   



    p {
      font-family: 'SVN-Gilroy', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: var(--fz-16);
      line-height: 140%;
      /* or 22px */
      text-align: justify;
      letter-spacing: 0.005em;

      /* Neutral/Neutral01 */
      color: var(--color54);


    }

    &__box {
      height: 170px;
      @media (max-width: 767px) {
        height: auto;
      }

      /* Color/Light Blue */
      background: var(--color3);
      border-radius: var(--b-rad24);
      color: var(--color-white) !important;

      p {
        font-family: 'SVN-Gilroy', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: var(--fz-16);
        line-height: 140%;
        /* or 22px */
        letter-spacing: 0.005em;
        /* Color/White */
        color: var(--color-white-fb);
        // text-align: left;
        margin-bottom: 0;
      }

      h3 {

        font-size: var(--fz-24);
        /* identical to box height, or 29px */
        letter-spacing: 0.005em;
        /* Color/White */
        color: var(--color-white-fb);


      }
    }

    &__timeline {
      background:
        var(--timeline-bg-color),
        url('../../images/timeline-bg.jpg') no-repeat center center;
      background-size: cover;
      min-height: 500px;

      p {
        font-family: 'SVN-Gilroy', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: var(--fz-16);
        line-height: 140%;
        letter-spacing: 0.005em;
        /* Color/White */
        color: var(--color-white-fb);
        margin-bottom: 0;
      }

      h2 {
        font-family: 'SVN-Gilroy', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: var(--fz-40);

        @media (max-width: 768px) {
          font-size: var(--fz-30);
        }

        
        /* identical to box height, or 46px */
        text-align: center;
        letter-spacing: 0.0025em;
        /* Color/Gradient */
        background: var(--text-radian);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: inline-block;


      }

      .timeline {
        // display: inline-flex;
        // animation: scrollTimeline 60s linear infinite;
        &-container {
          position: relative;
          white-space: nowrap;
          cursor: grab;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent var(--color-white);
            transform: translateY(calc(-50% + 1px));

          }

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent var(--color-white);
            transform: translateY(calc(-50% 
            + 1px));

          }
        }

        &-wrapper {
          overflow-x: hidden;
          white-space: nowrap;
          cursor: grab;
          position: relative;

          &::-webkit-scrollbar {
            display: none;
          }

        }

        &-line {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          height: 2px;
          background-color: var(--color-white);
          width: 200%;
        }

        &-item {
          flex: 0 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          position: relative;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-around;
          align-items: stretch;
          align-content: stretch;
          height: 100%;
          min-height: 245px;
          @media (min-width: 1440px) {
            min-width: 200px;
            width: 235px;
          }

          ::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 2px;
            background-color: var(--color-white);
          }

          &:nth-child(odd) {
            .timeline-year {
              order: 2; // Năm nằm trên
            }

            .timeline-content {
              order: 1; // Nội dung nằm dưới
            }
          }

          &:nth-child(even) {
            .timeline-year {
              order: 1; // Năm nằm dưới
            }

            .timeline-content {
              order: 2; // Nội dung nằm trên
            }
          }
        }

        &-year {
          font-size: var(--fz-24);
          font-weight: bold;
          color: var(--color-white);
          margin-bottom: 10px;

          font-family: 'SVN-Gilroy', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: var(--fz-40);
          
          /* identical to box height, or 46px */
          text-align: center;
          letter-spacing: 0.0025em;
          /* Color/Gradient */
          background: var(--bg-radian);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;


        }

        &-point {
          width: 10px;
          height: 10px;
          background-color: var(--color-white);
          border-radius: 50%;
          align-self: center;
          position: absolute;
          top: calc(50% - 5px);
          transform: translateX(-50%);

        }

        &-content {
          font-size: var(--fz-16);
          color: var(--color-white-fb);
          text-align: center;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          /* Hiển thị tối đa 3 dòng */
          -webkit-box-orient: vertical;
          overflow: visible;
          /* Đảm bảo nội dung không bị ẩn */
          white-space: normal;
          /* Cho phép xuống dòng */



        }
      }
    }

    &__community {
      .btn {
        /* Button */

        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 12px;
        gap: 12px;

        max-width: 121px;

        /* Color/Blue */
        background: var(--color-blue);
        border-radius: 4px;

        a {
          font-weight: 700;
          font-family: 'SVN-Gilroy';
          font-style: normal;
          font-weight: 700;
          font-size: var(--fz-14);
          line-height: 15px;

          leading-trim: both;
          text-edge: cap;
          display: flex;
          align-items: center;
          letter-spacing: 0.0125em;
          text-transform: uppercase;

          /* Color/White */
          color: var(--color-white-fb);


          /* Inside auto layout */
          flex: none;
          order: 0;
          flex-grow: 0;

        }

      }
    }


  }

  &.campus-page {
    .campus-page__box {
      /* Rectangle 180 */

      height: 185px;
      width: 100%;
      padding-top: 46px;
      padding-bottom: 46px;
      padding-left: 15px;
      padding-right: 15px;

      @media (max-width: 768px) {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      /* Color/Blue */
      background: var(--color-blue);

      h1 {
        font-weight: 700;
        font-size: var(--fz-40);
        margin-bottom: 0;

        @media (max-width: 768px) {
          font-size: var(--fz-30);
        }

        
        /* or 46px */
        text-align: center;
        letter-spacing: 0.0025em;
        /* Color/Gradient */
        background: var(--bg-radian);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: inline;
        text-transform: capitalize;
      }

    }

  }

  &.leadership-page {
    .leadership__box {


      /* Color/Light Blue */
      background: var(--color3);
      border-radius: 24px;

      h3 {
        font-size: var(--fz-30);

        @media (max-width: 768px) {
          font-size: var(--fz-26);
        }

        color: var(--color-white);
        margin-bottom: 0;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0.005em;

      }

      h4 {
        font-size: var(--fz-20);

        @media (max-width: 768px) {
          font-size: var(--fz-18);
        }

        color: var(--colorFB);
        margin-bottom: 0;
      }

      &--data {
        p {
          font-size: var(--fz-16);
          font-weight: 400;
          line-height: 140%;
          text-align: justify;
          letter-spacing: 0.005em;
          color: var(--colorFB);
        }
      }
    }

    .leadership {
      &__members {
        .col-sm-4.col-6 {
          margin-bottom: 14px;

          &:nth-last-child(1) {
            margin-bottom: 0;
          }
        }
      }
      &__name {
        font-size: var(--fz-24);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 13.5px 17px;
        background: var(--color3);
        border-radius: 0px 0px 16px 16px;
        gap: 0px;

        @media (max-width: 768px) {
          font-size: var(--fz-16);
          padding: 13.5px 5px;
        }
        h3 {
          font-size: var(--fz-20);
          @media (max-width: 768px) {
            font-size: var(--fz-16);
          }
          line-height: 130%;
          text-align: center;
          /* Color/White */
          color: var(--colorFB);
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 0;
          margin-bottom: 0px;
        }
        p {
          font-weight: 400;
          font-size: var(--fz-14);
          line-height: 125%;
          text-align: center;
          letter-spacing: 0.0025em;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;
          color: var(--colorFB);
          margin-bottom: 0;

        }
      }
    }
  }
  &.teacher-page {
    .teacher-page__box {
      /* Color/Light Blue */
      background: var(--color3);
      p {
        color: var(--color-white-fb);
      }
    }
    .leadership {
      &__members {
        .col-sm-4.col-6 {
          margin-bottom: 14px;
          &:nth-last-child(1) {
            margin-bottom: 0;
          }
        }
      }
      &__name {
        font-size: var(--fz-24);

        @media (max-width: 768px) {
          font-size: var(--fz-16);
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 13.5px 17px;
        background: var(--color3);
        border-radius: 0px 0px 16px 16px;
        gap: 0px;
        h3 {
          font-size: var(--fz-20);
          line-height: 130%;
          text-align: center;
          /* Color/White */
          color: var(--colorFB);
          flex: none;
          order: 0;
          align-self: stretch;
          flex-grow: 0;
          margin-bottom: 0px;
        }
        p {
          font-weight: 400;
          font-size: var(--fz-14);
          line-height: 125%;
          text-align: center;
          letter-spacing: 0.0025em;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;
          color: var(--colorFB);
          margin-bottom: 0;
        }
      }
    }

    .slider-teacher {
      &.slick-slider {
        .slick-prev {
          width: 36px;
          height: 36px;
          border: 1px solid var(--color-blue);
          
          &::before{
            background: url(../../images/icon-arrow-blue-prev.svg) center center no-repeat;
          }

        }
        .slick-next {
          width: 36px;
          height: 36px;
          border: 1px solid var(--color-blue);
         &::before{
           background: url(../../images/icon-arrow-blue-next.svg) center center no-repeat;
         }

        }
      }
      @media (min-width: 768px) {
        &.slick-slider {
          .slick-prev {
            position: absolute;
            top: -56px;
            right: 45px;
            left: unset;
            // background-color: red;

          }

          .slick-next {
            position: absolute;
            top: -56px;
            right: 0px;
            left: unset;
            // background-color: red;

          }

          .slick-dots {
            position: absolute;
            top: -70px;
            right: 100px;
            left: unset;
            text-align: right;
            height: 26px;
            width: auto;
          }
        }
      }

      .slick-slide {
        img {
          @media (max-width: 767px) {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

    }
  }
  &.career-page {
    h1 {
      font-size: var(--fz-30);
    }
    .list-jobs {
      gap: 22.4px 0;
      .item-null {
        background-color: #D7DBE2;
        height: 100%;
      }
      .leadership {
        &__members {
          .col-sm-4.col-6 {
            margin-bottom: 14px;

            &:nth-last-child(1) {
              margin-bottom: 0;
            }
          }
        }
        &__name {
          font-size: var(--fz-24);

          @media (max-width: 768px) {
            font-size: var(--fz-16);
          }
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 13.5px 17px;
          background: var(--color-blue);
          border-radius: 0px 0px 16px 16px;
          gap: 0px;

          h3 {
            font-size: var(--fz-20);
            line-height: 130%;
            text-align: center;
            /* Color/White */
            color: var(--colorFB);
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
            margin-bottom: 0px;
          }
          p {
            font-weight: 400;
            font-size: var(--fz-14);
            line-height: 125%;
            text-align: center;
            letter-spacing: 0.0025em;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
            color: var(--colorFB);
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &.accrediation-page {
    .content{
      position: relative;
      
      >.container {
        position: relative;
        z-index: 3;
      }
      &.accrediation{
        &::after {
          content: '';
          position: absolute;
          top: 362px;
          left: 0;
          width: 100%;
          height: 640px;
          background: var(--color2);
          opacity: 0.08;
          z-index: 1;
    
        }
      }
    }
    .list {
      &-services {
        .item {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 240px;
          background: var(--color-blue);
          border-radius: 24px;
          padding: 40px 12px 29px 12px;
          gap: 24px 0;
          flex-direction: column;
          align-items: center;

          .content {
            text-align: center;

            h3 {
              font-size: var(--fz-20);
              color: var(--color-white-fb);
              font-weight: 600;
              line-height: 130%;
            }

            p {
              font-size: var(--fz-16);
              color: var(--color-white-fb);
              font-weight: 400;
              line-height: 140%;
              text-align: center;
              display: -webkit-box;
              /* Sử dụng box model cho các trình duyệt Webkit */
              -webkit-box-orient: vertical;
              /* Đặt hướng box là dọc */
              overflow: hidden;
              /* Ẩn phần nội dung tràn */
              text-overflow: ellipsis;
              /* Hiển thị "..." cho phần tràn */
              -webkit-line-clamp: 3;
              /* Giới hạn số dòng */


            }
          }
        }
      }
      &-class {
        .item {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 334px;
          background: transparent;
          border-radius: 24px;
          gap: 47px 0;
          @media (max-width: 767px) {
            gap: 15px 0;
          }
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .accrediation-page__url {
      h2, a {
        font-size: var(--fz-20);
        color: var(--color-blue);
        line-height: 130%;
      }
      a {
        color: var(--color-blue) !important;
        text-decoration: none;
      }
    }
  }
}
.slick-slider .slick-dots li button {
  color: #D7DBE2;
  background-image: url(../../images/ico-dot-slide-gray.svg);
}
.slider-nor.slider_banner {
  img {
    border-radius: 0 !important;
  }
}
@keyframes scrollTimeline {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(calc(-150% + 10px));
    /* Di chuyển toàn bộ chiều rộng của timeline */
  }
}
.timeline-container {
  .timeline-slider {
    .timeline-item {
      text-align: center;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}