@charset "UTF-8";
@import "template.css";
:root {
  --color54: #344054;
  --color-white: #fff;
  --color-white-fb: #FBFBFB;
  --timeline-bg-color: linear-gradient(rgba(0, 82, 152, 0.9), rgba(0, 82, 152, 0.9));
  --fz-1: 1px;
  --fz-2: 2px;
  --fz-3: 3px;
  --fz-4: 4px;
  --fz-5: 5px;
  --fz-6: 6px;
  --fz-7: 7px;
  --fz-8: 8px;
  --fz-9: 9px;
  --fz-10: 10px;
  --fz-11: 11px;
  --fz-12: 12px;
  --fz-13: 13px;
  --fz-14: 14px;
  --fz-15: 15px;
  --fz-16: 16px;
  --fz-17: 17px;
  --fz-18: 18px;
  --fz-19: 19px;
  --fz-20: 20px;
  --fz-21: 21px;
  --fz-22: 22px;
  --fz-23: 23px;
  --fz-24: 24px;
  --fz-25: 25px;
  --fz-26: 26px;
  --fz-27: 27px;
  --fz-28: 28px;
  --fz-29: 29px;
  --fz-30: 30px;
  --fz-31: 31px;
  --fz-32: 32px;
  --fz-33: 33px;
  --fz-34: 34px;
  --fz-35: 35px;
  --fz-36: 36px;
  --fz-37: 37px;
  --fz-38: 38px;
  --fz-39: 39px;
  --fz-40: 40px;
  --fz-41: 41px;
  --fz-42: 42px;
  --fz-43: 43px;
  --fz-44: 44px;
  --fz-45: 45px;
  --fz-46: 46px;
  --fz-47: 47px;
  --fz-48: 48px;
  --fz-49: 49px;
  --fz-50: 50px;
  --fz-51: 51px;
  --fz-52: 52px;
  --fz-53: 53px;
  --fz-54: 54px;
  --fz-55: 55px;
  --fz-56: 56px;
  --fz-57: 57px;
  --fz-58: 58px;
  --fz-59: 59px;
  --fz-60: 60px;
}

#about .content h1,
#about .content h3,
#about .content h5 {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.005em;
}
#about .content h1 {
  font-weight: 700;
  font-size: var(--fz-40);
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.0025em;
  background: var(--bg-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
  text-transform: uppercase;
}
#about .content h2,
#about .content h3,
#about .content h5 {
  color: var(--color-blue);
}
#about .content h3,
#about .content h5 {
  font-size: var(--fz-24);
  line-height: 120%;
  letter-spacing: 0.005em;
  color: var(--color-blue);
}
#about .content p {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fz-16);
  line-height: 140%;
  /* or 22px */
  text-align: justify;
  letter-spacing: 0.005em;
  /* Neutral/Neutral01 */
  color: var(--color54);
}
#about .content__box {
  height: 170px;
  /* Color/Light Blue */
  background: var(--color3);
  border-radius: var(--b-rad24);
  color: var(--color-white) !important;
}
#about .content__box p {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fz-16);
  line-height: 140%;
  /* or 22px */
  letter-spacing: 0.005em;
  /* Color/White */
  color: var(--color-white-fb);
  margin-bottom: 0;
}
#about .content__box h3 {
  font-size: var(--fz-24);
  /* identical to box height, or 29px */
  letter-spacing: 0.005em;
  /* Color/White */
  color: var(--color-white-fb);
}
#about .content__timeline {
  background: var(--timeline-bg-color), url("../../images/timeline-bg.png") no-repeat center center;
  background-size: cover;
  min-height: 500px;
}
#about .content__timeline p {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fz-16);
  line-height: 140%;
  letter-spacing: 0.005em;
  /* Color/White */
  color: var(--color-white-fb);
  margin-bottom: 0;
}
#about .content__timeline h2 {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-40);
  line-height: 115%;
  /* identical to box height, or 46px */
  text-align: center;
  letter-spacing: 0.0025em;
  /* Color/Gradient */
  background: var(--text-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
}
#about .content__timeline .timeline {
  display: inline-flex;
  animation: scrollTimeline 20s linear infinite;
}
#about .content__timeline .timeline-container {
  position: relative;
  white-space: nowrap;
  cursor: grab;
}
#about .content__timeline .timeline-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--color-white);
  transform: translateY(calc(-50% - 5px));
}
#about .content__timeline .timeline-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--color-white);
  transform: translateY(calc(-50% - 5px));
}
#about .content__timeline .timeline-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
  position: relative;
  /* Tùy chỉnh thanh cuộn */
}
#about .content__timeline .timeline-wrapper::-webkit-scrollbar {
  height: 12px; /* Chiều cao của thanh cuộn ngang */
}
#about .content__timeline .timeline-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của track */
}
#about .content__timeline .timeline-wrapper::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
  border-radius: 6px; /* Bo tròn góc của thanh cuộn */
}
#about .content__timeline .timeline-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu của thanh cuộn khi hover */
}
#about .content__timeline .timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-white);
  width: 200%;
}
#about .content__timeline .timeline-item {
  flex: 0 0 auto;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  min-height: 245px;
  max-width: 235px;
}
#about .content__timeline .timeline-item ::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-white);
}
#about .content__timeline .timeline-item:nth-child(odd) .timeline-year {
  order: 2;
}
#about .content__timeline .timeline-item:nth-child(odd) .timeline-content {
  order: 1;
}
#about .content__timeline .timeline-item:nth-child(even) .timeline-year {
  order: 1;
}
#about .content__timeline .timeline-item:nth-child(even) .timeline-content {
  order: 2;
}
#about .content__timeline .timeline-year {
  font-size: var(--fz-24);
  font-weight: bold;
  color: var(--color-white);
  margin-bottom: 10px;
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  /* identical to box height, or 46px */
  text-align: center;
  letter-spacing: 0.0025em;
  /* Color/Gradient */
  background: var(--bg-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#about .content__timeline .timeline-point {
  width: 10px;
  height: 10px;
  background-color: var(--color-white);
  border-radius: 50%;
  align-self: center;
  position: absolute;
  top: calc(50% - 5px);
  transform: translateX(-50%);
}
#about .content__timeline .timeline-content {
  font-size: 16px;
  color: var(--color-white-fb);
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Hiển thị tối đa 3 dòng */
  -webkit-box-orient: vertical;
  overflow: visible;
  /* Đảm bảo nội dung không bị ẩn */
  white-space: normal;
  /* Cho phép xuống dòng */
}
#about .content__community .btn {
  /* Button */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  gap: 12px;
  max-width: 121px;
  /* Color/Blue */
  background: var(--color-blue);
  border-radius: 4px;
}
#about .content__community .btn a {
  font-weight: 700;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-14);
  line-height: 15px;
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  /* Color/White */
  color: var(--color-white-fb);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
#about .campus-page__box {
  /* Rectangle 180 */
  height: 185px;
  width: 100%;
  padding-top: 46px;
  padding-bottom: 46px;
  /* Color/Blue */
  background: var(--color-blue);
}
#about .campus-page__box h1 {
  font-weight: 700;
  font-size: var(--fz-40);
  line-height: 115%;
  /* or 46px */
  text-align: center;
  letter-spacing: 0.0025em;
  /* Color/Gradient */
  background: var(--bg-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
  text-transform: capitalize;
}
#about .slider-nor.slider_banner img {
  border-radius: 0 !important;
}

@keyframes scrollTimeline {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 20px));
    /* Di chuyển toàn bộ chiều rộng của timeline */
  }
}

/*# sourceMappingURL=about.css.map */
