@charset "UTF-8";
@import "template.css";
@import "main.css";
#about .content h1,
#about .content h3,
#about .content h5 {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.005em;
}
#about .content h1 {
  font-weight: 700;
  font-size: var(--fz-40);
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 0.0025em;
  background: var(--bg-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  #about .content h1 {
    font-size: var(--fz-30);
  }
}
#about .content h2,
#about .content h3,
#about .content h5 {
  font-size: var(--fz-24);
  color: var(--color-blue);
  line-height: 120%;
  letter-spacing: 0.005em;
}
#about .content p {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fz-16);
  /* or 22px */
  text-align: justify;
  letter-spacing: 0.005em;
  /* Neutral/Neutral01 */
  color: var(--color54);
}
#about .content__box {
  height: 170px;
  /* Color/Light Blue */
  background: var(--color3);
  border-radius: var(--b-rad24);
  color: var(--color-white) !important;
}
@media (max-width: 767px) {
  #about .content__box {
    height: auto;
  }
}
#about .content__box p {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fz-16);
  /* or 22px */
  letter-spacing: 0.005em;
  /* Color/White */
  color: var(--color-white-fb);
  margin-bottom: 0;
}
#about .content__box h3 {
  font-size: var(--fz-24);
  /* identical to box height, or 29px */
  letter-spacing: 0.005em;
  /* Color/White */
  color: var(--color-white-fb);
}
#about .content__timeline {
  background: var(--timeline-bg-color), url("../../images/timeline-bg.jpg") no-repeat center center;
  background-size: cover;
  min-height: 500px;
}
#about .content__timeline p {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fz-16);
  letter-spacing: 0.005em;
  /* Color/White */
  color: var(--color-white-fb);
  margin-bottom: 0;
}
#about .content__timeline h2 {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-40);
  /* identical to box height, or 46px */
  text-align: center;
  letter-spacing: 0.0025em;
  /* Color/Gradient */
  background: var(--text-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
}
@media (max-width: 768px) {
  #about .content__timeline h2 {
    font-size: var(--fz-30);
  }
}
#about .content__timeline .timeline {
  display: inline-flex;
  animation: scrollTimeline 20s linear infinite;
}
#about .content__timeline .timeline-container {
  position: relative;
  white-space: nowrap;
  cursor: grab;
}
#about .content__timeline .timeline-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--color-white);
  transform: translateY(calc(-50% - 5px));
}
#about .content__timeline .timeline-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--color-white);
  transform: translateY(calc(-50% - 5px));
}
#about .content__timeline .timeline-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
  position: relative;
  /* Tùy chỉnh thanh cuộn */
}
#about .content__timeline .timeline-wrapper::-webkit-scrollbar {
  height: 12px;
  /* Chiều cao của thanh cuộn ngang */
}
#about .content__timeline .timeline-wrapper::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
  /* Màu nền của track */
}
#about .content__timeline .timeline-wrapper::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  /* Màu của thanh cuộn */
  border-radius: 6px;
  /* Bo tròn góc của thanh cuộn */
}
#about .content__timeline .timeline-wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
  /* Màu của thanh cuộn khi hover */
}
#about .content__timeline .timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-white);
  width: 200%;
}
#about .content__timeline .timeline-item {
  flex: 0 0 auto;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  min-height: 245px;
  max-width: 235px;
}
#about .content__timeline .timeline-item ::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-white);
}
#about .content__timeline .timeline-item:nth-child(odd) .timeline-year {
  order: 2;
}
#about .content__timeline .timeline-item:nth-child(odd) .timeline-content {
  order: 1;
}
#about .content__timeline .timeline-item:nth-child(even) .timeline-year {
  order: 1;
}
#about .content__timeline .timeline-item:nth-child(even) .timeline-content {
  order: 2;
}
#about .content__timeline .timeline-year {
  font-size: var(--fz-24);
  font-weight: bold;
  color: var(--color-white);
  margin-bottom: 10px;
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-40);
  /* identical to box height, or 46px */
  text-align: center;
  letter-spacing: 0.0025em;
  /* Color/Gradient */
  background: var(--bg-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#about .content__timeline .timeline-point {
  width: 10px;
  height: 10px;
  background-color: var(--color-white);
  border-radius: 50%;
  align-self: center;
  position: absolute;
  top: calc(50% - 5px);
  transform: translateX(-50%);
}
#about .content__timeline .timeline-content {
  font-size: var(--fz-16);
  color: var(--color-white-fb);
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Hiển thị tối đa 3 dòng */
  -webkit-box-orient: vertical;
  overflow: visible;
  /* Đảm bảo nội dung không bị ẩn */
  white-space: normal;
  /* Cho phép xuống dòng */
}
#about .content__community .btn {
  /* Button */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  gap: 12px;
  max-width: 121px;
  /* Color/Blue */
  background: var(--color-blue);
  border-radius: 4px;
}
#about .content__community .btn a {
  font-weight: 700;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-14);
  line-height: 15px;
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  /* Color/White */
  color: var(--color-white-fb);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
#about.campus-page .campus-page__box {
  /* Rectangle 180 */
  height: 185px;
  width: 100%;
  padding-top: 46px;
  padding-bottom: 46px;
  padding-left: 15px;
  padding-right: 15px;
  /* Color/Blue */
  background: var(--color-blue);
}
@media (max-width: 768px) {
  #about.campus-page .campus-page__box {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
#about.campus-page .campus-page__box h1 {
  font-weight: 700;
  font-size: var(--fz-40);
  margin-bottom: 0;
  /* or 46px */
  text-align: center;
  letter-spacing: 0.0025em;
  /* Color/Gradient */
  background: var(--bg-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  #about.campus-page .campus-page__box h1 {
    font-size: var(--fz-30);
  }
}
#about.leadership-page .leadership__box {
  /* Color/Light Blue */
  background: var(--color3);
  border-radius: 24px;
}
#about.leadership-page .leadership__box h3 {
  font-size: var(--fz-30);
  color: var(--color-white);
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.005em;
}
@media (max-width: 768px) {
  #about.leadership-page .leadership__box h3 {
    font-size: var(--fz-26);
  }
}
#about.leadership-page .leadership__box h4 {
  font-size: var(--fz-20);
  color: var(--colorFB);
  margin-bottom: 0;
}
@media (max-width: 768px) {
  #about.leadership-page .leadership__box h4 {
    font-size: var(--fz-18);
  }
}
#about.leadership-page .leadership__box--data p {
  font-size: var(--fz-16);
  font-weight: 400;
  text-align: justify;
  letter-spacing: 0.005em;
  color: var(--colorFB);
}
#about.leadership-page .leadership__members .col-sm-4.col-6 {
  margin-bottom: 14px;
}
#about.leadership-page .leadership__members .col-sm-4.col-6:nth-last-child(1) {
  margin-bottom: 0;
}
#about.leadership-page .leadership__name {
  font-size: var(--fz-24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 13.5px 17px;
  background: var(--color3);
  border-radius: 0px 0px 16px 16px;
  gap: 0px;
}
@media (max-width: 768px) {
  #about.leadership-page .leadership__name {
    font-size: var(--fz-16);
    padding: 13.5px 5px;
  }
}
#about.leadership-page .leadership__name h3 {
  font-size: var(--fz-20);
  line-height: 130%;
  text-align: center;
  /* Color/White */
  color: var(--colorFB);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 0px;
}
#about.leadership-page .leadership__name p {
  font-weight: 400;
  font-size: var(--fz-14);
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.0025em;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: var(--colorFB);
  margin-bottom: 0;
}
#about.teacher-page .teacher-page__box {
  /* Color/Light Blue */
  background: var(--color3);
}
#about.teacher-page .teacher-page__box p {
  color: var(--color-white-fb);
}
#about.teacher-page .leadership__members .col-sm-4.col-6 {
  margin-bottom: 14px;
}
#about.teacher-page .leadership__members .col-sm-4.col-6:nth-last-child(1) {
  margin-bottom: 0;
}
#about.teacher-page .leadership__name {
  font-size: var(--fz-24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 13.5px 17px;
  background: var(--color3);
  border-radius: 0px 0px 16px 16px;
  gap: 0px;
}
@media (max-width: 768px) {
  #about.teacher-page .leadership__name {
    font-size: var(--fz-16);
  }
}
#about.teacher-page .leadership__name h3 {
  font-size: var(--fz-20);
  line-height: 130%;
  text-align: center;
  /* Color/White */
  color: var(--colorFB);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 0px;
}
#about.teacher-page .leadership__name p {
  font-weight: 400;
  font-size: var(--fz-14);
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.0025em;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: var(--colorFB);
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #about.teacher-page .slider-teacher.slick-slider .slick-prev {
    position: absolute;
    top: -56px;
    right: 45px;
    left: unset;
  }
  #about.teacher-page .slider-teacher.slick-slider .slick-next {
    position: absolute;
    top: -56px;
    right: 0px;
    left: unset;
  }
  #about.teacher-page .slider-teacher.slick-slider .slick-dots {
    position: absolute;
    top: -70px;
    right: 80px;
    left: unset;
    text-align: right;
    height: 26px;
    width: auto;
  }
}
@media (max-width: 767px) {
  #about.teacher-page .slider-teacher .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
#about.career-page h1 {
  font-size: var(--fz-30);
}
#about.career-page .list-jobs {
  gap: 22.4px 0;
}
#about.career-page .list-jobs .item-null {
  background-color: #D7DBE2;
  height: 100%;
}
#about.career-page .list-jobs .leadership__members .col-sm-4.col-6 {
  margin-bottom: 14px;
}
#about.career-page .list-jobs .leadership__members .col-sm-4.col-6:nth-last-child(1) {
  margin-bottom: 0;
}
#about.career-page .list-jobs .leadership__name {
  font-size: var(--fz-24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 13.5px 17px;
  background: var(--color3);
  border-radius: 0px 0px 16px 16px;
  gap: 0px;
}
@media (max-width: 768px) {
  #about.career-page .list-jobs .leadership__name {
    font-size: var(--fz-16);
  }
}
#about.career-page .list-jobs .leadership__name h3 {
  font-size: var(--fz-20);
  line-height: 130%;
  text-align: center;
  /* Color/White */
  color: var(--colorFB);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 0px;
}
#about.career-page .list-jobs .leadership__name p {
  font-weight: 400;
  font-size: var(--fz-14);
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.0025em;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: var(--colorFB);
  margin-bottom: 0;
}
#about.accrediation-page .content {
  position: relative;
}
#about.accrediation-page .content > .container {
  position: relative;
  z-index: 3;
}
#about.accrediation-page .content.accrediation::after {
  content: "";
  position: absolute;
  top: 362px;
  left: 0;
  width: 100%;
  height: 640px;
  background: var(--color2);
  opacity: 0.08;
  z-index: 1;
}
#about.accrediation-page .list-services .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  background: var(--color-blue);
  border-radius: 24px;
  padding: 40px 12px 29px 12px;
  gap: 24px 0;
  flex-direction: column;
  align-items: center;
}
#about.accrediation-page .list-services .item .content {
  text-align: center;
}
#about.accrediation-page .list-services .item .content h3 {
  font-size: var(--fz-20);
  color: var(--color-white-fb);
  font-weight: 600;
  line-height: 130%;
}
#about.accrediation-page .list-services .item .content p {
  font-size: var(--fz-16);
  color: var(--color-white-fb);
  font-weight: 400;
  text-align: center;
  display: -webkit-box;
  /* Sử dụng box model cho các trình duyệt Webkit */
  -webkit-box-orient: vertical;
  /* Đặt hướng box là dọc */
  overflow: hidden;
  /* Ẩn phần nội dung tràn */
  text-overflow: ellipsis;
  /* Hiển thị "..." cho phần tràn */
  -webkit-line-clamp: 3;
  /* Giới hạn số dòng */
}
#about.accrediation-page .list-class .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 334px;
  background: transparent;
  border-radius: 24px;
  gap: 47px 0;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  #about.accrediation-page .list-class .item {
    gap: 15px 0;
  }
}
#about.accrediation-page .accrediation-page__url h2,
#about.accrediation-page .accrediation-page__url a {
  font-size: var(--fz-20);
  color: var(--color-blue);
  line-height: 130%;
}
#about.accrediation-page .accrediation-page__url a {
  color: var(--color-blue) !important;
  text-decoration: none;
}
#about.early-years-page .content h1 {
  font-size: var(--fz-30);
}
#about.early-years-page .early-years-page__dimensions {
  position: relative;
  background: var(--color-sky-opacity);
}
#about.early-years-page .list-goals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  gap: 16px 15px;
}
#about.early-years-page .list-goals__item {
  width: 248px;
  height: 90px;
  background: var(--color3);
  border-radius: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about.early-years-page .list-goals__item h4 {
  font-size: var(--fz-24);
  background: linear-gradient(76.96deg, #FFDC7C 0%, #FEE8AC 14%, #E3EAD1 28%, #9AD7D7 42%, #61C7D8 56%, #9BBCDE 70%, #C9C5DE 86%, #EFB8CE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline;
}
#about.early-years-page .early-years-page__about {
  flex-direction: column;
  gap: 70px 0;
}
#about.early-years-page .early-years-page__about__section h2 {
  font-weight: 700;
  font-size: var(--fz-40);
  letter-spacing: 0.0025em;
  /* Color/Gradient */
  background: var(--text-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#about.early-years-page .early-years-page__about__section--1 {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}
#about.early-years-page .early-years-page__about__section--2 {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}
#about.early-years-page .early-years-page__about__section--3 {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}
#about.early-years-page .early-years-page__about__section--4 {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}
#about.early-years-page .early-years-page__about__section--4 h3 {
  font-weight: 700;
  font-size: var(--fz-40);
  letter-spacing: 0.0025em;
  /* Color/Gradient */
  background: var(--text-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#about.early-years-page .early-years-page__about .list-features {
  flex-direction: row;
  justify-content: space-between;
}
#about.early-years-page .early-years-page__about .list-features__item {
  display: flex;
  height: 330px;
  border: 1px solid var(--color3);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
  text-align: center;
}
#about.early-years-page .early-years-page__about .list-features__item h3 {
  font-size: var(--fz-16);
  margin-top: 52px;
  margin-bottom: 16px;
}
#about.early-years-page .early-years-page__about .list-features__item p {
  text-align: center;
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#about.early-years-page .early-years-page__about .list-learning-goals {
  flex-direction: row;
  justify-content: space-between;
}
#about.early-years-page .early-years-page__about .list-learning-goals__item {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  text-align: left;
}
#about.early-years-page .early-years-page__about .list-learning-goals__item h3 {
  font-size: var(--fz-16);
  margin-top: 25px;
  margin-bottom: 10px;
}
#about.early-years-page .early-years-page__about .list-learning-goals__item p {
  text-align: left;
  color: var(--color-blue);
  margin-bottom: 0;
}
#about.early-years-page .early-years-page__about .box-content {
  background: var(--color3);
  border-radius: 24px;
  color: var(--color-white-fb);
  padding: 15px 35px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about.early-years-page .early-years-page__about .box-content p {
  color: var(--color-white-fb);
  font-size: var(--fz-14);
  line-height: 130%;
  letter-spacing: 0.0025em;
  margin-bottom: 0;
}

.slider-nor.slider_banner img {
  border-radius: 0 !important;
}

@keyframes scrollTimeline {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 20px));
    /* Di chuyển toàn bộ chiều rộng của timeline */
  }
}

/*# sourceMappingURL=about.css.map */
