@import "template.css";
@import "main.css";
#about .content p {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fz-16);
  text-align: justify;
  letter-spacing: 0.005em;
  color: var(--color54);
}
#about .content__box {
  height: 170px;
  background: var(--color3);
  border-radius: var(--b-rad24);
  color: var(--color-white) !important;
}
@media (max-width: 767px) {
  #about .content__box {
    height: auto;
  }
}
#about .content__box p {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fz-16);
  letter-spacing: 0.005em;
  color: var(--color-white-fb);
  margin-bottom: 0;
}
#about .content__box h3 {
  font-size: var(--fz-24);
  letter-spacing: 0.005em;
  color: var(--color-white-fb);
}
#about .content__timeline {
  background: var(--timeline-bg-color), url("../../images/timeline-bg.jpg") no-repeat center center;
  background-size: cover;
  min-height: 500px;
}
#about .content__timeline p {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fz-16);
  letter-spacing: 0.005em;
  color: var(--color-white-fb);
  margin-bottom: 0;
}
#about .content__timeline h2 {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-40);
  text-align: center;
  letter-spacing: 0.0025em;
  background: var(--text-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
}
@media (max-width: 768px) {
  #about .content__timeline h2 {
    font-size: var(--fz-30);
  }
}
#about .content__timeline .timeline-container {
  position: relative;
  white-space: nowrap;
  cursor: grab;
}
#about .content__timeline .timeline-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--color-white);
  transform: translateY(calc(-50% + 1px));
}
#about .content__timeline .timeline-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--color-white);
  transform: translateY(calc(-50% + 1px));
}
#about .content__timeline .timeline-wrapper {
  overflow-x: hidden;
  white-space: nowrap;
  cursor: grab;
  position: relative;
}
#about .content__timeline .timeline-wrapper::-webkit-scrollbar {
  display: none;
}
#about .content__timeline .timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-white);
  width: 200%;
}
#about .content__timeline .timeline-item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  min-height: 245px;
}
@media (min-width: 1440px) {
  #about .content__timeline .timeline-item {
    min-width: 200px;
    width: 235px;
  }
}
#about .content__timeline .timeline-item ::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-white);
}
#about .content__timeline .timeline-item:nth-child(odd) .timeline-year {
  order: 2;
}
#about .content__timeline .timeline-item:nth-child(odd) .timeline-content {
  order: 1;
}
#about .content__timeline .timeline-item:nth-child(even) .timeline-year {
  order: 1;
}
#about .content__timeline .timeline-item:nth-child(even) .timeline-content {
  order: 2;
}
#about .content__timeline .timeline-year {
  font-size: var(--fz-24);
  font-weight: bold;
  color: var(--color-white);
  margin-bottom: 10px;
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-40);
  text-align: center;
  letter-spacing: 0.0025em;
  background: var(--bg-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#about .content__timeline .timeline-point {
  width: 10px;
  height: 10px;
  background-color: var(--color-white);
  border-radius: 50%;
  align-self: center;
  position: absolute;
  top: calc(50% - 5px);
  transform: translateX(-50%);
}
#about .content__timeline .timeline-content {
  font-size: var(--fz-16);
  color: var(--color-white-fb);
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: visible;
  white-space: normal;
}
#about .content__community .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  gap: 12px;
  max-width: 121px;
  background: var(--color-blue);
  border-radius: 4px;
}
#about .content__community .btn a {
  font-weight: 700;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-14);
  line-height: 15px;
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  color: var(--color-white-fb);
  flex: none;
  order: 0;
  flex-grow: 0;
}
#about.campus-page .campus-page__box {
  height: 185px;
  width: 100%;
  padding-top: 46px;
  padding-bottom: 46px;
  padding-left: 15px;
  padding-right: 15px;
  background: var(--color-blue);
}
@media (max-width: 768px) {
  #about.campus-page .campus-page__box {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
#about.campus-page .campus-page__box h1 {
  font-weight: 700;
  font-size: var(--fz-40);
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 0.0025em;
  background: var(--bg-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  #about.campus-page .campus-page__box h1 {
    font-size: var(--fz-30);
  }
}
#about.leadership-page .leadership__box {
  background: var(--color3);
  border-radius: 24px;
}
#about.leadership-page .leadership__box h3 {
  font-size: var(--fz-30);
  color: var(--color-white);
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.005em;
}
@media (max-width: 768px) {
  #about.leadership-page .leadership__box h3 {
    font-size: var(--fz-26);
  }
}
#about.leadership-page .leadership__box h4 {
  font-size: var(--fz-20);
  color: var(--colorFB);
  margin-bottom: 0;
}
@media (max-width: 768px) {
  #about.leadership-page .leadership__box h4 {
    font-size: var(--fz-18);
  }
}
#about.leadership-page .leadership__box--data p {
  font-size: var(--fz-16);
  font-weight: 400;
  text-align: justify;
  letter-spacing: 0.005em;
  color: var(--colorFB);
}
#about.leadership-page .leadership__members .col-sm-4.col-6 {
  margin-bottom: 14px;
}
#about.leadership-page .leadership__members .col-sm-4.col-6:nth-last-child(1) {
  margin-bottom: 0;
}
#about.leadership-page .leadership__name {
  font-size: var(--fz-24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 13.5px 17px;
  background: var(--color3);
  border-radius: 0px 0px 16px 16px;
  gap: 0px;
}
@media (max-width: 768px) {
  #about.leadership-page .leadership__name {
    font-size: var(--fz-16);
    padding: 13.5px 5px;
  }
}
#about.leadership-page .leadership__name h3 {
  font-size: var(--fz-20);
  line-height: 130%;
  text-align: center;
  color: var(--colorFB);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  #about.leadership-page .leadership__name h3 {
    font-size: var(--fz-16);
  }
}
#about.leadership-page .leadership__name p {
  font-weight: 400;
  font-size: var(--fz-14);
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.0025em;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: var(--colorFB);
  margin-bottom: 0;
}
#about.teacher-page h2 {
  font-weight: 700;
  font-size: var(--fz-30);
}
#about.teacher-page .teacher-page__box {
  background: var(--color3);
}
#about.teacher-page .teacher-page__box p {
  color: var(--color-white-fb);
}
#about.teacher-page .leadership__members .col-sm-4.col-6 {
  margin-bottom: 14px;
}
#about.teacher-page .leadership__members .col-sm-4.col-6:nth-last-child(1) {
  margin-bottom: 0;
}
#about.teacher-page .leadership__name {
  font-size: var(--fz-24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 13.5px 17px;
  background: var(--color-blue);
  border-radius: 0px 0px 16px 16px;
  gap: 0px;
}
@media (max-width: 768px) {
  #about.teacher-page .leadership__name {
    font-size: var(--fz-16);
  }
}
#about.teacher-page .leadership__name h3 {
  font-size: var(--fz-20);
  text-align: center;
  color: var(--colorFB);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 0px;
}
#about.teacher-page .leadership__name p {
  font-weight: 400;
  font-size: var(--fz-14);
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.0025em;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: var(--colorFB);
  margin-bottom: 0;
}
#about.teacher-page .slider-teacher.slick-slider .slick-prev {
  width: 36px;
  height: 36px;
  border: 1px solid var(--color-blue);
}
#about.teacher-page .slider-teacher.slick-slider .slick-prev::before {
  background: url(../../images/icon-arrow-blue-prev.svg) center center no-repeat;
}
#about.teacher-page .slider-teacher.slick-slider .slick-next {
  width: 36px;
  height: 36px;
  border: 1px solid var(--color-blue);
}
#about.teacher-page .slider-teacher.slick-slider .slick-next::before {
  background: url(../../images/icon-arrow-blue-next.svg) center center no-repeat;
}
@media (min-width: 768px) {
  #about.teacher-page .slider-teacher.slick-slider .slick-prev {
    position: absolute;
    top: -56px;
    right: 45px;
    left: unset;
  }
  #about.teacher-page .slider-teacher.slick-slider .slick-next {
    position: absolute;
    top: -56px;
    right: 0px;
    left: unset;
  }
  #about.teacher-page .slider-teacher.slick-slider .slick-dots {
    position: absolute;
    top: -70px;
    right: 100px;
    left: unset;
    text-align: right;
    height: 26px;
    width: auto;
  }
}
@media (max-width: 767px) {
  #about.teacher-page .slider-teacher .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
#about.career-page .no-job {
  position: relative;
}
#about.career-page .no-job img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#about.career-page .no-job::after {
  content: "";
  background: url("../../images/icon-image-null.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 58px;
  height: 58px;
}
@media screen and (max-width: 575px) {
  #about.career-page .no-job::after {
    top: 40%;
  }
}
#about.career-page .list-jobs {
  gap: 22.4px 0;
}
#about.career-page .list-jobs .leadership__members .col-sm-4.col-6 {
  margin-bottom: 14px;
}
#about.career-page .list-jobs .leadership__members .col-sm-4.col-6:nth-last-child(1) {
  margin-bottom: 0;
}
#about.career-page .list-jobs .leadership__name {
  font-size: var(--fz-24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 13.5px 17px;
  background: var(--color-blue);
  border-radius: 0px 0px 16px 16px;
  gap: 0px;
}
@media (max-width: 768px) {
  #about.career-page .list-jobs .leadership__name {
    font-size: var(--fz-16);
  }
}
#about.career-page .list-jobs .leadership__name h3 {
  font-size: var(--fz-20);
  line-height: 130%;
  text-align: center;
  color: var(--colorFB);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 0px;
}
#about.career-page .list-jobs .leadership__name p {
  font-weight: 400;
  font-size: var(--fz-14);
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.0025em;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: var(--colorFB);
  margin-bottom: 0;
}
#about.accrediation-page .content {
  position: relative;
}
#about.accrediation-page .content > .container {
  position: relative;
  z-index: 3;
}
#about.accrediation-page .content.accrediation::after {
  content: "";
  position: absolute;
  top: 335px;
  left: 0;
  width: 100%;
  height: 640px;
  background: var(--color2);
  opacity: 0.08;
  z-index: 1;
}
#about.accrediation-page .list-services .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  background: var(--color-blue);
  border-radius: 24px;
  padding: 40px 12px 29px 12px;
  gap: 24px 0;
  flex-direction: column;
  align-items: center;
}
#about.accrediation-page .list-services .item .content {
  text-align: center;
}
#about.accrediation-page .list-services .item .content h3 {
  font-size: var(--fz-20);
  color: var(--color-white-fb);
  font-weight: 600;
  line-height: 130%;
}
#about.accrediation-page .list-services .item .content p {
  font-size: var(--fz-16);
  color: var(--color-white-fb);
  font-weight: 400;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}
#about.accrediation-page .list-class .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 334px;
  background: transparent;
  border-radius: 24px;
  gap: 47px 0;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  #about.accrediation-page .list-class .item {
    gap: 15px 0;
  }
}
#about.accrediation-page .accrediation-page__url h2,
#about.accrediation-page .accrediation-page__url a {
  font-size: var(--fz-20);
  color: var(--color-blue);
  line-height: 130%;
}
#about.accrediation-page .accrediation-page__url a {
  color: var(--color-blue) !important;
  text-decoration: none;
}

.slick-slider .slick-dots li button {
  color: #D7DBE2;
  background-image: url(../../images/ico-dot-slide-gray.svg);
}

.slider-nor.slider_banner img {
  border-radius: 0 !important;
}

@keyframes scrollTimeline {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(calc(-150% + 10px));
  }
}
.timeline-container .timeline-slider .timeline-item {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

/*# sourceMappingURL=about.css.map */
