@import "template.css";
@import "main.css";

#admission {
  &.admission-page {


    .admission-page {
      &__admission-policy {
        &__content {
          p {
            color: var(--color54);
            margin-bottom: 0;
          }

          &--1 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            gap: 28px 0;

          }

          &--2 {
            position: relative;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: var(--color2);
              opacity: 7.5%;
              z-index: -1;
            }

            .container {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
              align-content: center;
              gap: 8px 0;
            }
          }
        }

        .enrolment-details {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: flex-start;
          gap: 0 36px;

          @media (max-width: 767px) {
            flex-direction: column;
          }

          &__left,
          &__right {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            gap: 20px 0;
            width: 50%;

            @media (max-width: 767px) {
              width: 100%;
            }
          }

          &__item {
            display: flex;
            justify-content: unset;
            flex-direction: row;
            gap: 0 29px;
            flex-wrap: nowrap;
            width: 100%;
            position: relative;
            padding-top: 20px;

            &:not(:first-child)::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 1px;
              background: url(../../images/line-gradient.svg) no-repeat center center / cover;
              z-index: -1;
            }

            h3 {
              min-width: 43px;
            }
          }

          .content-list {
            ul {
              padding-left: 21px;
              margin-bottom: 10px;
              margin-top: 10px;
              text-align: left;

              li {
                color: var(--color54);
                font-family: "SVN-Gilroy";
                font-style: normal;
                font-weight: 400;
                font-size: var(--fz-16);
                text-align: justify;
                letter-spacing: 0.005em;
                color: var(--color-neutral-01);
              }
            }
          }
        }
      }


    }

    .admission-page__tuition-fee {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color2);
        opacity: 7.5%;
        z-index: -1;
      }
    }

    .admission-page__application {
      .container {
        display: flex;
        gap: 33px 0;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .list-features {
        flex-direction: row;
        justify-content: space-between;

        &__item {
          display: flex;
          height: 400px;

          @media screen and (max-width: 767px) {
            height: 320px;
          }

          border: 1px solid var(--color3);
          border-radius: 25px;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          padding: 47px 28px 52px 28px;
          text-align: center;
          gap: 45px 0;

          h3 {
            font-size: var(--fz-16);
            color: var(--color-white-fb);
            font-weight: 600;
            font-style: normal;
          }

          p {
            text-align: center;
            color: var(--color-white-fb);

          }

          &--1 {
            background-color: var(--color-blue);
          }

          &--2 {
            background-color: var(--color3);
          }

          &--3 {
            background-color: var(--color2);
          }
        }
      }
    }


  }
}