@charset "UTF-8";
@import "template.css";
@import "main.css";
#curriculum.years-page .early-years-page__dimensions {
  position: relative;
  background: var(--color-sky-opacity);
}
#curriculum.years-page .list-goals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  gap: 16px 15px;
}
@media (max-width: 991px) {
  #curriculum.years-page .list-goals {
    justify-content: center;
  }
}
#curriculum.years-page .list-goals__item {
  width: 248px;
  height: 90px;
  background: var(--color3);
  border-radius: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#curriculum.years-page .list-goals__item::before, #curriculum.years-page .list-goals__item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid var(--color2);
  transform: translate(-25%, -50%) rotate(45deg);
}
#curriculum.years-page .list-goals__item::before {
  left: 23.5%;
  top: 50%;
}
@media screen and (max-width: 1199px) {
  #curriculum.years-page .list-goals__item::before {
    left: 27%;
    top: 32%;
  }
}
@media screen and (max-width: 991px) {
  #curriculum.years-page .list-goals__item::before {
    left: 50%;
    top: 24%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
@media screen and (max-width: 767px) {
  #curriculum.years-page .list-goals__item::before {
    display: none;
  }
}
#curriculum.years-page .list-goals__item::after {
  right: 23.5%;
  top: 50%;
}
@media screen and (max-width: 1199px) {
  #curriculum.years-page .list-goals__item::after {
    right: 42.5%;
    top: 32%;
  }
}
@media screen and (max-width: 991px) {
  #curriculum.years-page .list-goals__item::after {
    right: 47%;
    top: 74%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
@media screen and (max-width: 767px) {
  #curriculum.years-page .list-goals__item::after {
    display: none;
  }
}
#curriculum.years-page .list-goals__item h4 {
  font-size: var(--fz-24);
  background: linear-gradient(76.96deg, #FFDC7C 0%, #FEE8AC 14%, #E3EAD1 28%, #9AD7D7 42%, #61C7D8 56%, #9BBCDE 70%, #C9C5DE 86%, #EFB8CE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline;
  margin-bottom: 0;
}
#curriculum.years-page .early-years-page__about {
  flex-direction: column;
  gap: 70px 0;
}
@media (max-width: 767px) {
  #curriculum.years-page .early-years-page__about {
    gap: 40px 0;
  }
}
#curriculum.years-page .early-years-page__about__section h2 {
  font-weight: 700;
  font-size: var(--fz-40);
  letter-spacing: 0.0025em;
  /* Color/Gradient */
  background: var(--text-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#curriculum.years-page .early-years-page__about__section--1 {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}
#curriculum.years-page .early-years-page__about__section--2 {
  display: flex;
  flex-direction: column;
  gap: 36px 0;
}
#curriculum.years-page .early-years-page__about__section--3 {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}
#curriculum.years-page .early-years-page__about__section--4 {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}
#curriculum.years-page .early-years-page__about__section--4 h3 {
  font-weight: 700;
  font-size: var(--fz-40);
  letter-spacing: 0.0025em;
  /* Color/Gradient */
  background: var(--text-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media screen and (max-width: 767px) {
  #curriculum.years-page .early-years-page__about__section--4 h3 {
    font-size: var(--fz-30);
  }
}
#curriculum.years-page .early-years-page__about .list-features {
  flex-direction: row;
  justify-content: space-between;
}
#curriculum.years-page .early-years-page__about .list-features__item {
  display: flex;
  height: 330px;
  border: 1px solid var(--color3);
  border-radius: 25px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 24px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #curriculum.years-page .early-years-page__about .list-features__item {
    height: 280px;
  }
}
#curriculum.years-page .early-years-page__about .list-features__item h3 {
  font-size: var(--fz-16);
  margin-top: 52px;
  margin-bottom: 16px;
  font-weight: 600;
  font-style: normal;
}
#curriculum.years-page .early-years-page__about .list-features__item p {
  text-align: center;
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#curriculum.years-page .early-years-page__about .list-learning-goals {
  flex-direction: row;
  justify-content: space-between;
}
#curriculum.years-page .early-years-page__about .list-learning-goals__item {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  text-align: left;
}
@media (max-width: 767px) {
  #curriculum.years-page .early-years-page__about .list-learning-goals__item {
    align-items: center;
  }
}
#curriculum.years-page .early-years-page__about .list-learning-goals__item h3 {
  font-size: var(--fz-20);
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  #curriculum.years-page .early-years-page__about .list-learning-goals__item h3 {
    margin-top: 15px;
  }
}
#curriculum.years-page .early-years-page__about .list-learning-goals__item p {
  text-align: left;
  color: var(--color-blue);
  margin-bottom: 0;
  font-size: var(--fz-16);
}
#curriculum.years-page .early-years-page__about .box-content {
  background: var(--color3);
  border-radius: 24px;
  padding: 15px 35px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  #curriculum.years-page .early-years-page__about .box-content {
    padding: 15px 20px;
  }
}
#curriculum.years-page .early-years-page__about .box-content p {
  font-size: var(--fz-14);
  font-style: normal;
  color: var(--color-white-fb);
  margin-bottom: 0;
}
#curriculum.years-page.primary-years-page .box-content {
  background: var(--color3);
}
#curriculum.years-page.primary-years-page .box-content p {
  color: var(--color-white-fb);
  margin-bottom: 0;
}
#curriculum.years-page.primary-years-page .box-content__bold {
  border-radius: 24px 24px 0 0;
}
#curriculum.years-page.primary-years-page .box-content__bold p {
  font-size: var(--fz-20);
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 767px) {
  #curriculum.years-page.primary-years-page .box-content__bold p {
    font-size: var(--fz-16);
  }
}
#curriculum.years-page.primary-years-page .box-content__item--child {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color3);
  border-top: none;
  flex-direction: column;
  padding: 0 27px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #curriculum.years-page.primary-years-page .box-content__item--child {
    min-height: 175px;
  }
}
@media (max-width: 767px) {
  #curriculum.years-page.primary-years-page .box-content__item--child {
    border-top: 1px solid var(--color3);
  }
}
#curriculum.years-page.primary-years-page .box-content__item--child_1 {
  border-radius: 0 0 0 24px;
  border-right: none;
}
@media (max-width: 767px) {
  #curriculum.years-page.primary-years-page .box-content__item--child_1 {
    border-right: 1px solid var(--color3);
    border-radius: 0;
  }
}
#curriculum.years-page.primary-years-page .box-content__item--child_3 {
  border-radius: 0 0 24px 0;
  border-left: none;
}
@media (max-width: 767px) {
  #curriculum.years-page.primary-years-page .box-content__item--child_3 {
    border-left: 1px solid var(--color3);
    border-radius: 0;
  }
}
#curriculum.years-page.primary-years-page .box-content__item--child p {
  color: var(--color54);
  font-size: var(--fz-14);
  line-height: 130%;
  letter-spacing: 0.0025em;
  margin-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  padding: 0 15px;
}
@media screen and (max-width: 767px) {
  #curriculum.years-page.primary-years-page .box-content__item--child p {
    padding: 0;
  }
}
#curriculum.years-page.primary-years-page .box-content__item--child h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: var(--color54);
  font-style: normal;
}
#curriculum.years-page.primary-years-page .box-img {
  height: 480px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #curriculum.years-page.primary-years-page .box-img {
    height: 300px;
  }
}
#curriculum.years-page .primary-ipc-process .box-content {
  border-radius: 24px;
}
#curriculum.years-page .primary-ipc-process .box-content h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: var(--color-white-fb);
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  #curriculum.years-page .primary-ipc-process .box-content h3 {
    font-size: var(--fz-24);
  }
}
#curriculum.years-page .primary-ipc-process .box-content p {
  font-style: normal;
  font-weight: 400;
  font-size: var(--fz-16);
  color: var(--color-white-fb);
}
#curriculum.years-page .primary-ipc-process .process-step {
  color: white;
  text-align: center;
}
#curriculum.years-page .primary-ipc-process .step-header {
  background-color: var(--color-blue);
  padding: 10px;
  width: calc(100% - 20px);
  font-weight: bold;
  margin-bottom: 16px;
  position: relative;
  height: 40px;
  font-weight: 600;
  font-size: var(--fz-20);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#curriculum.years-page .primary-ipc-process .step-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
  width: 20px;
  height: 100%;
}
#curriculum.years-page .primary-ipc-process .step-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  width: 20px;
  height: 100%;
}
#curriculum.years-page .primary-ipc-process .step-header__entry {
  background-color: var(--color-blue);
}
#curriculum.years-page .primary-ipc-process .step-header__entry::after {
  border-left: 20px solid var(--color-blue);
}
#curriculum.years-page .primary-ipc-process .step-header__exit {
  background-color: var(--color3);
}
#curriculum.years-page .primary-ipc-process .step-header__exit::after {
  border-left: 20px solid var(--color3);
}
#curriculum.years-page .primary-ipc-process .step-header__learning {
  background-color: var(--color2);
}
#curriculum.years-page .primary-ipc-process .step-header__learning::after {
  border-left: 20px solid var(--color2);
}
#curriculum.years-page .primary-ipc-process .step-content {
  padding: 23px 29px;
  min-height: 244px;
  border-radius: 24px;
}
@media screen and (max-width: 991px) {
  #curriculum.years-page .primary-ipc-process .step-content {
    min-height: 100px;
  }
}
@media screen and (max-width: 767px) {
  #curriculum.years-page .primary-ipc-process .step-content {
    padding: 15px;
  }
}
#curriculum.years-page .primary-ipc-process .step-content p {
  color: var(--color-white-fb) !important;
  font-size: var(--fz-16);
  line-height: 1.5;
  margin: 0;
  text-align: justify;
  letter-spacing: 0;
  line-height: 140%;
}
#curriculum.years-page .primary-ipc-process .step-content__entry {
  background-color: var(--color-blue);
}
#curriculum.years-page .primary-ipc-process .step-content__exit {
  background-color: var(--color3);
}
#curriculum.years-page .primary-ipc-process .step-content__learning {
  background-color: var(--color2);
}
#curriculum.years-page.extra-curriculum-years-page .box-content {
  background: var(--color3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#curriculum.years-page.extra-curriculum-years-page .box-content p {
  color: var(--color-white-fb);
  text-align: center;
  font-style: normal;
  font-weight: 600;
}
#curriculum.years-page.extra-curriculum-years-page .study-tour__slide {
  display: flex;
}
#curriculum.years-page.extra-curriculum-years-page .study-tour__slide .slide-item .content {
  display: flex;
  flex-direction: column;
  background-color: #ECF9FE;
  padding: 25px 25px;
  justify-content: flex-start;
  align-items: baseline;
  text-align: left;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
#curriculum.years-page.extra-curriculum-years-page .study-tour__slide .slide-item .content h4.title {
  font-style: normal;
  font-weight: 700;
  font-size: var(--fz-30);
  color: var(--color-blue);
  margin-bottom: 0;
  text-align: left;
}
@media screen and (max-width: 991px) {
  #curriculum.years-page.extra-curriculum-years-page .study-tour__slide .slide-item .content h4.title {
    font-size: var(--fz-20);
  }
}
#curriculum.years-page.extra-curriculum-years-page .study-tour__slide .slide-item .content .info-list {
  list-style: none;
  /* Xóa dấu chấm */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#curriculum.years-page.extra-curriculum-years-page .study-tour__slide .slide-item .content .info-list li {
  display: flex;
  margin-bottom: 10px;
  font-size: var(--fz-18);
}
@media screen and (max-width: 991px) {
  #curriculum.years-page.extra-curriculum-years-page .study-tour__slide .slide-item .content .info-list li {
    font-size: var(--fz-16);
  }
}
#curriculum.years-page.extra-curriculum-years-page .study-tour__slide .slide-item .content .info-list .label {
  font-weight: 700;
  /* Làm nổi bật nhãn */
  flex: 0 0 150px;
  /* Cố định độ rộng nhãn */
  color: var(--color54);
}
#curriculum.years-page.extra-curriculum-years-page .study-tour__slide .slide-item .content .info-list .value {
  flex: none;
  /* Giá trị sẽ chiếm phần còn lại */
  text-align: left;
  /* Canh trái giá trị */
}
@media screen and (max-width: 991px) {
  #curriculum.years-page.extra-curriculum-years-page .study-tour__slide .slide-item .content .info-list .value {
    flex: 1;
  }
}
#curriculum.years-page.extra-curriculum-years-page .study-tour__slide.slick-slider .slick-prev {
  background-color: var(--color2);
}
@media screen and (min-width: 1281px) {
  #curriculum.years-page.extra-curriculum-years-page .study-tour__slide.slick-slider .slick-prev {
    left: -60px;
  }
}
#curriculum.years-page.extra-curriculum-years-page .study-tour__slide.slick-slider .slick-prev::before {
  background: url(../../images/ico-prev-w.svg) center center no-repeat;
}
#curriculum.years-page.extra-curriculum-years-page .study-tour__slide.slick-slider .slick-next {
  background-color: var(--color2);
}
@media screen and (min-width: 1281px) {
  #curriculum.years-page.extra-curriculum-years-page .study-tour__slide.slick-slider .slick-next {
    right: -60px;
  }
}
#curriculum.years-page.extra-curriculum-years-page .study-tour__slide.slick-slider .slick-next::before {
  background: url(../../images/ico-next-w.svg) center center no-repeat;
}
#curriculum.years-page.student-showcase-years-page {
  position: relative;
}
#curriculum.years-page.student-showcase-years-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color2);
  opacity: 7.5%;
  z-index: -1;
}
#curriculum.years-page.student-showcase-years-page .box-content {
  border-radius: 24px;
  background: var(--color3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 220px;
}
#curriculum.years-page.student-showcase-years-page .list-label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
}
#curriculum.years-page.student-showcase-years-page .list-label__item {
  flex: 0 0 50%;
  box-sizing: border-box;
}
#curriculum.years-page.student-showcase-years-page .list-label__item .label {
  background-color: var(--color2);
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 500;
  font-style: normal;
  font-size: var(--fz-20);
  color: var(--color-white-fb);
}
#curriculum .list-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
#curriculum .list-gallery .grid-item:nth-child(1), #curriculum .list-gallery .grid-item:nth-child(2) {
  height: 310px;
}
#curriculum .list-gallery .grid-item:nth-child(n+3) {
  height: 150px;
}
#curriculum .list-gallery .grid-item a {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}
#curriculum .list-gallery .grid-item a:hover {
  opacity: 0.8;
}
#curriculum .list-primary-curriculum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}
#curriculum .item {
  background-color: var(--color3);
  color: white;
  height: 360px;
  border-radius: 10px;
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  #curriculum .item {
    height: 280px;
    padding: 15px;
    flex: 1 1 100%;
  }
}
#curriculum .item p {
  color: var(--color-white-fb);
  font-size: var(--fz-14);
  line-height: 130%;
  letter-spacing: 0.0025em;
  margin-bottom: 0;
  text-align: center;
  padding: 0 15px;
  min-height: 85px;
  max-height: 93px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 767px) {
  #curriculum .item p {
    padding: 0;
  }
}
#curriculum .item h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: var(--color-white-fb);
  font-style: normal;
  margin-top: 43px;
  margin-bottom: 12px;
}
@media screen and (max-width: 767px) {
  #curriculum .item h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
#curriculum .item:nth-child(6),
#curriculum .item:nth-child(5) {
  flex: 1 1 calc(33.333% - 40px);
}
@media screen and (max-width: 767px) {
  #curriculum .item:nth-child(6),
  #curriculum .item:nth-child(5) {
    flex: 1 1 100%;
  }
}
#curriculum .item-null {
  max-width: 160px !important;
  background-color: var(--color2);
}
@media screen and (max-width: 767px) {
  #curriculum .item-null {
    display: none;
  }
}
#curriculum .text-gradient {
  font-weight: 700;
  font-size: var(--fz-40);
  letter-spacing: 0.0025em;
  background: var(--text-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  #curriculum .text-gradient {
    font-size: var(--fz-30);
  }
}
#curriculum .primary-program {
  text-align: center;
  margin-top: 30px;
  position: relative;
}
#curriculum .primary-program::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color2);
  opacity: 0.08;
  z-index: -1;
}
#curriculum .primary-program__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 26px;
}
@media screen and (max-width: 991px) {
  #curriculum .primary-program__list {
    gap: 20px 16px;
  }
}
#curriculum .primary-program__list .item {
  background-color: var(--color3);
  color: white;
  border-radius: 50%;
  max-width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 0px 20px;
}
@media screen and (max-width: 991px) {
  #curriculum .primary-program__list .item {
    max-width: 170px;
    height: 170px;
  }
}
#curriculum .primary-program__list .item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 9;
  width: calc(100% - 18px);
  height: calc(100% - 18px);
  background: url(../../images/icon-line-circle.svg) no-repeat center center;
  background-position: center;
  background-size: contain;
}
#curriculum .primary-program__list .item h3 {
  font-weight: 700;
  font-size: var(--fz-30);
  letter-spacing: 0.005em;
  background: var(--bg-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
  margin: 0;
}
@media screen and (max-width: 991px) {
  #curriculum .primary-program__list .item h3 {
    font-size: var(--fz-24);
  }
}
#curriculum .primary-program__list .item p {
  font-size: 14px;
  margin-top: 5px;
  background: var(--bg-radian);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
  font-weight: 700;
  font-size: var(--fz-16);
  line-height: 140%;
  font-style: normal;
  min-height: 0;
}

/*# sourceMappingURL=curriculum.css.map */
