@font-face {
	font-family: "SVN-Gilroy";
	font-weight: 400;
	font-style: normal;
	src: url("fonts/SVN-Gilroy.ttf");
}

@font-face {
	font-family: "SVN-Gilroy";
	font-weight: 500;
	font-style: normal;
	src: url("fonts/SVN-GilroySemiBold.ttf");
}

@font-face {
	font-family: "SVN-Gilroy";
	font-weight: 600;
	font-style: normal;
	src: url("fonts/SVN-GilroyMedium.ttf");
}

@font-face {
	font-family: "SVN-Gilroy";
	font-weight: 700;
	font-style: normal;
	src: url("fonts/SVN-GilroyBold.ttf");
}

:root {
	--color54: #344054;
	--color-white: #fff;
	--color-white-fb: #FBFBFB;
	--color-neutral-01: #1F242C;
	--timeline-bg-color: linear-gradient(rgba(0, 82, 152, 0.9), rgba(0, 82, 152, 0.9));
	--color-scrollbar-track: #f1f1f1;
	--color-scrollbar-thumb: #888;
	--color-scrollbar-thumb-hover: #555;
	--color-breadcrumb: #D7DBE2;
	--color-sky-opacity: rgba(0, 174, 239, 0.08);
	--d-transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);
	--d-transition2: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);
	--d-transition3: all 0.3s cubic-bezier(0.65, 0, 0.35, 1);
	--d-transition4: all 1s cubic-bezier(0.65, 0, 0.35, 1);
	--color-blue: #005298;
	--color2: #00AEEF;
	--color3: #006AC5;
	--colorFB: #FBFBFB;
	--color54: #344054;
	--color00: #000000;
	--fz-12: 12px;
	--fz-13: 13px;
	--fz-14: 14px;
	--fz-15: 15px;
	--fz-16: 16px;
	--fz-17: 17px;
	--fz-18: 18px;
	--fz-19: 19px;
	--fz-20: 20px;
	--fz-21: 21px;
	--fz-22: 22px;
	--fz-23: 23px;
	--fz-24: 24px;
	--fz-25: 25px;
	--fz-26: 26px;
	--fz-27: 27px;
	--fz-28: 28px;
	--fz-29: 29px;
	--fz-30: 30px;
	--fz-31: 31px;
	--fz-32: 32px;
	--fz-33: 33px;
	--fz-34: 34px;
	--fz-35: 35px;
	--fz-36: 36px;
	--fz-37: 37px;
	--fz-38: 38px;
	--fz-39: 39px;
	--fz-40: 40px;
	--uppercase: uppercase;

	--bg-radian: linear-gradient(76.96deg, #FFDC7C 0%, #FEE8AC 14%, #E3EAD1 28%, #9AD7D7 42%, #61C7D8 56%, #9BBCDE 70%, #C9C5DE 86%, #EFB8CE 100%);
	--text-radian: linear-gradient(76.96deg, #FFDC7C 0%, #FEE8AC 14%, #E3EAD1 28%, #9AD7D7 42%, #61C7D8 56%, #9BBCDE 70%, #C9C5DE 86%, #EFB8CE 100%);
	--bor-radian: linear-gradient(76.96deg, #FFDC7C 0%, #FEE8AC 14%, #E3EAD1 28%, #9AD7D7 42%, #61C7D8 56%, #9BBCDE 70%, #C9C5DE 86%, #EFB8CE 100%) 1;
	--d-padding-none: 0px;
	--d-padding: var(--bs-gutter-x, .70rem);
	--d-marb60: 60px;
	--d-marb40: 40px;
	--d-marb30: 30px;
	--d-marb20: 20px;
	--d-margin: 0px;
	--b-radius: 16px;
	--b-rad24: 24px;
	--t-jus: justify;
	--box-780: 780px;
	--box-750: 750px;

}

.pull-right {
	margin-left: auto;
}

.pull-left {
	margin-right: auto;
}

.text-bold {
	font-weight: 700;
}

@for $i from 1 through 12 {
	.w-#{$i} {
		width: calc($i * 8.33333333333% - 16px);

		@media (max-width: 991px) {
			width: 100%;
		}
	}
}
@for $i from 12 through 40 {
	.fz-#{$i} {
		font-size: #{$i}px !important;
	}
}
.gap-y-xs-15 {
	@media screen and (max-width: 767px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: space-around;
		gap: 15px 0
	}

}

.gap-y-sm-20 {
	@media screen and (max-width: 991px) {

		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: space-around;
		gap: 20px 0
	}
}

.gap-y-md-20 {
	@media screen and (max-width: 1279) {

		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: space-around;
		gap: 20px 0
	}
}

.gap-y-lg-20 {
	@media screen and (min-width: 1280px) {

		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: space-around;
		gap: 20px 0
	}
}

.gap-30 {

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
	gap: 30px
}

body {
	font-family: 'SVN-Gilroy';
	font-weight: normal;
	font-style: normal;
	overflow-x: hidden;

}

h1,
h3,
h5 {
	font-family: 'SVN-Gilroy', sans-serif;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: 0.005em;
}

h1 {
	font-weight: 700;
	font-size: var(--fz-40);
	text-transform: lowercase;

	@media (max-width: 768px) {
		font-size: var(--fz-30);
	}


	text-align: center;
	letter-spacing: 0.0025em;
	background: var(--bg-radian);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	display: inline-block;
	text-transform: capitalize;
}

h2,
h3,
h5 {
	font-size: var(--fz-24);

	@media (max-width: 768px) {
		font-size: var(--fz-22);
	}

	color: var(--color-blue);

	letter-spacing: 0.005em;
}

p {
	/* Font/Body 1 */
	font-family: 'SVN-Gilroy';
	font-style: normal;
	font-weight: 400;
	font-size: var(--fz-16);

	/* or 22px */
	text-align: justify;
	letter-spacing: 0.005em;

	/* Neutral/Neutral01 */
	color: var(--color-neutral-01);


}

h2.title {
	font-weight: 700;
	font-size: 30px;
}

h3.title {
	font-weight: 700;
	font-size: 30px;

	@media screen and (max-width: 767px) {
		font-size: var(--fz-24);
	}

	margin-bottom: 0px;
}

.banner {
	&__inside {
		width: 100%;
		height: 500px;

		@media (min-width: 2200px) {
			height: 660px;
		}

		@media (max-width: 768px) {
			height: 250px;
		}

		left: 0px;
		background-position: top center !important;
		background-size: cover !important;
	}
}

.breadcrumb {
	/* Group 153 */
	width: 100%;
	height: 60px;
	background-color: var(--color-breadcrumb);
	color: var(--color-blue);
	margin-bottom: 0;
	transition: all ease-in-out .5s;

	a,
	p {
		font-weight: 700;
		font-size: var(--fz-14);
		line-height: 15px;
		align-items: center;
		letter-spacing: 0.0125em;
		text-transform: uppercase;
		color: var(--color-blue);
		/* Inside auto layout */
		flex: none;
		order: 0;
		flex-grow: 0;
		text-decoration: none;
		margin-right: 30px;

		position: relative;
		text-transform: uppercase !important;
		transition: color 0.5s ease-in-out;

		&:hover {
			background: var(--bg-radian);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			display: inline-block;
			text-transform: capitalize;
		}

		&::after {
			content: '';
			width: 5.76px;
			height: 10px;
			background: url('../../images/breadcrumb.svg') no-repeat center center;
			position: absolute;
			right: -20px;
			top: 50%;
			transform: translateY(-50%);
		}

		&:last-child::after {
			display: none;
		}
	}

	p {
		margin-right: 0 !important;
		cursor: default;
		margin-bottom: 0 !important;
	}
}

.btn {
	a {
		text-decoration: none;
	}

	&:hover {
		background: var(--bg-radian) !important;
		transition: var(--d-transition);
		color: var(--color-blue) !important;

		a {
			color: var(--color-blue) !important;
		}
	}
}

.d-flex-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
}

@for $i from 500 through 2000 {
	.container-#{$i} {
		@media (min-width: 1200px) {
			max-width: #{$i}px !important;
		}
	}
}

@each $direction in (t, r, b, l, x, y) {
	@for $i from 0 through 125 {
		.m#{$direction}-#{$i} {
			@if $direction =='x' {
				margin-left: #{$i}px !important;
				margin-right: #{$i}px !important;
			}

			@else if $direction =='y' {
				margin-top: #{$i}px !important;
				margin-bottom: #{$i}px !important;
			}

			@else {
				margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
			}
		}

		.p#{$direction}-#{$i} {
			@if $direction =='x' {
				padding-left: #{$i}px !important;
				padding-right: #{$i}px !important;
			}

			@else if $direction =='y' {
				padding-top: #{$i}px !important;
				padding-bottom: #{$i}px !important;
			}

			@else {
				padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
			}
		}

		// Responsive for lg, md, sm, xs
		@media (min-width: 1200px) {

			// lg
			.m#{$direction}-lg-#{$i} {
				@if $direction =='x' {
					margin-left: #{$i}px !important;
					margin-right: #{$i}px !important;
				}

				@else if $direction =='y' {
					margin-top: #{$i}px !important;
					margin-bottom: #{$i}px !important;
				}

				@else {
					margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
				}
			}

			.p#{$direction}-lg-#{$i} {
				@if $direction =='x' {
					padding-left: #{$i}px !important;
					padding-right: #{$i}px !important;
				}

				@else if $direction =='y' {
					padding-top: #{$i}px !important;
					padding-bottom: #{$i}px !important;
				}

				@else {
					padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
				}
			}
		}

		@media (min-width: 992px) and (max-width: 1199.98px) {

			// md
			.m#{$direction}-md-#{$i} {
				@if $direction =='x' {
					margin-left: #{$i}px !important;
					margin-right: #{$i}px !important;
				}

				@else if $direction =='y' {
					margin-top: #{$i}px !important;
					margin-bottom: #{$i}px !important;
				}

				@else {
					margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
				}
			}

			.p#{$direction}-md-#{$i} {
				@if $direction =='x' {
					padding-left: #{$i}px !important;
					padding-right: #{$i}px !important;
				}

				@else if $direction =='y' {
					padding-top: #{$i}px !important;
					padding-bottom: #{$i}px !important;
				}

				@else {
					padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
				}
			}
		}

		@media (min-width: 768px) and (max-width: 991.98px) {

			// sm
			.m#{$direction}-sm-#{$i} {
				@if $direction =='x' {
					margin-left: #{$i}px !important;
					margin-right: #{$i}px !important;
				}

				@else if $direction =='y' {
					margin-top: #{$i}px !important;
					margin-bottom: #{$i}px !important;
				}

				@else {
					margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
				}
			}

			.p#{$direction}-sm-#{$i} {
				@if $direction =='x' {
					padding-left: #{$i}px !important;
					padding-right: #{$i}px !important;
				}

				@else if $direction =='y' {
					padding-top: #{$i}px !important;
					padding-bottom: #{$i}px !important;
				}

				@else {
					padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
				}
			}
		}

		@media (max-width: 767.98px) {

			// xs
			.m#{$direction}-xs-#{$i} {
				@if $direction =='x' {
					margin-left: #{$i}px !important;
					margin-right: #{$i}px !important;
				}

				@else if $direction =='y' {
					margin-top: #{$i}px !important;
					margin-bottom: #{$i}px !important;
				}

				@else {
					margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
				}
			}

			.p#{$direction}-xs-#{$i} {
				@if $direction =='x' {
					padding-left: #{$i}px !important;
					padding-right: #{$i}px !important;
				}

				@else if $direction =='y' {
					padding-top: #{$i}px !important;
					padding-bottom: #{$i}px !important;
				}

				@else {
					padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
				}
			}
		}
	}
}

@for $i from 1 through 45 {
	.br-#{$i} {
		border-radius: #{$i}px;
	}
}