@font-face {
	font-family: "SVN-Gilroy";
	font-weight: 400;
	font-style: normal;
	src: url("fonts/SVN-Gilroy.ttf");
}
@font-face {
	font-family: "SVN-Gilroy";
	font-weight: 500;
	font-style: normal;
	src: url("fonts/SVN-GilroySemiBold.ttf");
}
@font-face {
	font-family: "SVN-Gilroy";
	font-weight: 600;
	font-style: normal;
	src: url("fonts/SVN-GilroyMedium.ttf");
}
@font-face {
	font-family: "SVN-Gilroy";
	font-weight: 700;
	font-style: normal;
	src: url("fonts/SVN-GilroyBold.ttf");
}
:root {
	--color54: #344054;
	--color-white: #fff;
	--color-white-fb: #FBFBFB;
	--color-neutral-01: #1F242C;
	--timeline-bg-color: linear-gradient(rgba(0, 82, 152, 0.9), rgba(0, 82, 152, 0.9));
  --color-scrollbar-track: #f1f1f1;
	--color-scrollbar-thumb: #888;
	--color-scrollbar-thumb-hover: #555;
  --color-breadcrumb: #D7DBE2;
	@for $i from 1 through 60 {
	  --fz-#{$i}: #{$i}px;
	}
  }
  
	body {
		font-family: 'SVN-Gilroy';
		font-weight: normal;
		font-style: normal;

	}

	p {
		/* Font/Body 1 */
		font-family: 'SVN-Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: var(--fz-16);
		line-height: 140%;
		/* or 22px */
		text-align: justify;
		letter-spacing: 0.005em;

		/* Neutral/Neutral01 */
		color: var(--color-neutral-01);


	}


	.banner {
		&__inside {
			width: 100%;
			height: 450px;
			@media (max-width: 768px) {
				height: 250px;
			}
			left: 0px;
			background-position: center !important;
			background-size: cover !important;
		}
	}

	.breadcrumb {
		/* Group 153 */
		width: 100%;
		height: 60px;
		background-color: var(--color-breadcrumb);
		color: var(--color-blue);
		margin-bottom: 0;

		a, p {
			font-weight: 700;
			font-size: var(--fz-14);
			line-height: 15px;
			align-items: center;
			letter-spacing: 0.0125em;
			text-transform: uppercase;
			color: var(--color-blue);
			/* Inside auto layout */
			flex: none;
			order: 0;
			flex-grow: 0;
			text-decoration: none;
			margin-right: 30px;
			position: relative;
			&:hover{
				color: var( --bg-radian);
			}
			&::after {
				content: '';
				width: 5.76px;
				height: 10px;
				background: url('../../images/breadcrumb.svg') no-repeat center center;
				position: absolute;
				right: -20px;
				top: 50%;
				transform: translateY(-50%);
			}

			&:last-child::after {
				display: none;
			}
		}
		p{
			cursor: default;
			margin-bottom: 0 !important;
		}
	}
	.btn{
		a{
			text-decoration: none;
		}
		&:hover{
			background: var(--bg-radian) !important;transition: var(--d-transition); 
      color: var(--color-blue) !important;
			a{
				color: var(--color-blue) !important;
			}
	}
	}

	@for $i from 1000 through 2000 {
		.container-#{$i} {
			@media (min-width: 1400px) {
				max-width: #{$i}px;
			}
		}
	}

	@each $direction in (t, r, b, l, x, y) {
		@for $i from 0 through 125 {
			.m#{$direction}-#{$i} {
				@if $direction == 'x' {
					margin-left: #{$i}px !important;
					margin-right: #{$i}px !important;
				} @else if $direction == 'y' {
					margin-top: #{$i}px !important;
					margin-bottom: #{$i}px !important;
				} @else {
					margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
				}
			}

			.p#{$direction}-#{$i} {
				@if $direction == 'x' {
					padding-left: #{$i}px !important;
					padding-right: #{$i}px !important;
				} @else if $direction == 'y' {
					padding-top: #{$i}px !important;
					padding-bottom: #{$i}px !important;
				} @else {
					padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
				}
			}

			// Responsive for lg, md, sm, xs
			@media (min-width: 1200px) { // lg
				.m#{$direction}-lg-#{$i} {
					@if $direction == 'x' {
						margin-left: #{$i}px !important;
						margin-right: #{$i}px !important;
					} @else if $direction == 'y' {
						margin-top: #{$i}px !important;
						margin-bottom: #{$i}px !important;
					} @else {
						margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
					}
				}

				.p#{$direction}-lg-#{$i} {
					@if $direction == 'x' {
						padding-left: #{$i}px !important;
						padding-right: #{$i}px !important;
					} @else if $direction == 'y' {
						padding-top: #{$i}px !important;
						padding-bottom: #{$i}px !important;
					} @else {
						padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
					}
				}
			}

			@media (min-width: 992px) and (max-width: 1199.98px) { // md
				.m#{$direction}-md-#{$i} {
					@if $direction == 'x' {
						margin-left: #{$i}px !important;
						margin-right: #{$i}px !important;
					} @else if $direction == 'y' {
						margin-top: #{$i}px !important;
						margin-bottom: #{$i}px !important;
					} @else {
						margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
					}
				}

				.p#{$direction}-md-#{$i} {
					@if $direction == 'x' {
						padding-left: #{$i}px !important;
						padding-right: #{$i}px !important;
					} @else if $direction == 'y' {
						padding-top: #{$i}px !important;
						padding-bottom: #{$i}px !important;
					} @else {
						padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
					}
				}
			}

			@media (min-width: 768px) and (max-width: 991.98px) { // sm
				.m#{$direction}-sm-#{$i} {
					@if $direction == 'x' {
						margin-left: #{$i}px !important;
						margin-right: #{$i}px !important;
					} @else if $direction == 'y' {
						margin-top: #{$i}px !important;
						margin-bottom: #{$i}px !important;
					} @else {
						margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
					}
				}

				.p#{$direction}-sm-#{$i} {
					@if $direction == 'x' {
						padding-left: #{$i}px !important;
						padding-right: #{$i}px !important;
					} @else if $direction == 'y' {
						padding-top: #{$i}px !important;
						padding-bottom: #{$i}px !important;
					} @else {
						padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
					}
				}
			}

			@media (max-width: 767.98px) { // xs
				.m#{$direction}-xs-#{$i} {
					@if $direction == 'x' {
						margin-left: #{$i}px !important;
						margin-right: #{$i}px !important;
					} @else if $direction == 'y' {
						margin-top: #{$i}px !important;
						margin-bottom: #{$i}px !important;
					} @else {
						margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
					}
				}

				.p#{$direction}-xs-#{$i} {
					@if $direction == 'x' {
						padding-left: #{$i}px !important;
						padding-right: #{$i}px !important;
					} @else if $direction == 'y' {
						padding-top: #{$i}px !important;
						padding-bottom: #{$i}px !important;
					} @else {
						padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px !important;
					}
				}
			}
		}
	}
	@for $i from 1 through 45 {
		.br-#{$i} {
			border-radius: #{$i}px;
		}
	}