@font-face {
	font-family: "SVN-Gilroy";
	font-weight: 400;
	font-style: normal;
	src: url("fonts/SVN-Gilroy.ttf");
}
@font-face {
	font-family: "SVN-Gilroy";
	font-weight: 500;
	font-style: normal;
	src: url("fonts/SVN-GilroySemiBold.ttf");
}
@font-face {
	font-family: "SVN-Gilroy";
	font-weight: 600;
	font-style: normal;
	src: url("fonts/SVN-GilroyMedium.ttf");
}
@font-face {
	font-family: "SVN-Gilroy";
	font-weight: 700;
	font-style: normal;
	src: url("fonts/SVN-GilroyBold.ttf");
}

	body {
		font-family: 'SVN-Gilroy';
		font-weight: normal;
		font-style: normal;

	}

	p {
		/* Font/Body 1 */
		font-family: 'SVN-Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		/* or 22px */
		text-align: justify;
		letter-spacing: 0.005em;

		/* Neutral/Neutral01 */
		color: #1F242C;


	}


	.banner {
		&__inside {
			width: 100%;
			height: 450px;
			left: 0px;
			background-position: center !important;
			background-size: cover !important;
		}
	}

	.breadcrumb {
		/* Group 153 */
		width: 100%;
		height: 60px;
		background-color: #D7DBE2;
		color: #005298;
		margin-bottom: 0;

		a {

			font-weight: 700;
			font-size: 14px;
			line-height: 15px;
			align-items: center;
			letter-spacing: 0.0125em;
			text-transform: uppercase;
			color: #005298;
			/* Inside auto layout */
			flex: none;
			order: 0;
			flex-grow: 0;
			text-decoration: none;
			margin-right: 30px;
			position: relative;
			&:hover{
				color: linear-gradient(76.96deg, #FFDC7C 0%, #FEE8AC 14%, #E3EAD1 28%, #9AD7D7 42%, #61C7D8 56%, #9BBCDE 70%, #C9C5DE 86%, #EFB8CE 100%);;
				// background: linear-gradient(76.96deg, #FFDC7C 0%, #FEE8AC 14%, #E3EAD1 28%, #9AD7D7 42%, #61C7D8 56%, #9BBCDE 70%, #C9C5DE 86%, #EFB8CE 100%);
			}
			&::after {
				content: '';
				width: 5.76px;
				height: 10px;
				background: url('../../images/breadcrumb.svg') no-repeat center center;
				position: absolute;
				right: -20px;
				top: 50%;
				transform: translateY(-50%);
			}

			&:last-child::after {
				display: none;
			}
		}
	}
	.btn{
		a{
			text-decoration: none;
		}
		&:hover{
			background: var(--bg-radian) !important;transition: var(--d-transition); color: var(--color-blue) !important;
			a{
				color: var(--color-blue) !important;
			}
	}
	}

	@for $i from 1000 through 2000 {
		.container-#{$i} {
			@media (min-width: 1400px) {
				max-width: #{$i}px;
			}
		}
	}

	@each $direction in (t, r, b, l, x, y) {
		@for $i from 0 through 125 {
			.m#{$direction}-#{$i} {
				@if $direction == 'x' {
					margin-left: #{$i}px;
					margin-right: #{$i}px;
				} @else if $direction == 'y' {
					margin-top: #{$i}px;
					margin-bottom: #{$i}px;
				} @else {
					margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px;
				}
			}

			.p#{$direction}-#{$i} {
				@if $direction == 'x' {
					padding-left: #{$i}px;
					padding-right: #{$i}px;
				} @else if $direction == 'y' {
					padding-top: #{$i}px;
					padding-bottom: #{$i}px;
				} @else {
					padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px;
				}
			}

			// Responsive for lg, md, sm, xs
			@media (min-width: 1200px) { // lg
				.m#{$direction}-lg-#{$i} {
					@if $direction == 'x' {
						margin-left: #{$i}px;
						margin-right: #{$i}px;
					} @else if $direction == 'y' {
						margin-top: #{$i}px;
						margin-bottom: #{$i}px;
					} @else {
						margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px;
					}
				}

				.p#{$direction}-lg-#{$i} {
					@if $direction == 'x' {
						padding-left: #{$i}px;
						padding-right: #{$i}px;
					} @else if $direction == 'y' {
						padding-top: #{$i}px;
						padding-bottom: #{$i}px;
					} @else {
						padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px;
					}
				}
			}

			@media (min-width: 992px) and (max-width: 1199.98px) { // md
				.m#{$direction}-md-#{$i} {
					@if $direction == 'x' {
						margin-left: #{$i}px;
						margin-right: #{$i}px;
					} @else if $direction == 'y' {
						margin-top: #{$i}px;
						margin-bottom: #{$i}px;
					} @else {
						margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px;
					}
				}

				.p#{$direction}-md-#{$i} {
					@if $direction == 'x' {
						padding-left: #{$i}px;
						padding-right: #{$i}px;
					} @else if $direction == 'y' {
						padding-top: #{$i}px;
						padding-bottom: #{$i}px;
					} @else {
						padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px;
					}
				}
			}

			@media (min-width: 768px) and (max-width: 991.98px) { // sm
				.m#{$direction}-sm-#{$i} {
					@if $direction == 'x' {
						margin-left: #{$i}px;
						margin-right: #{$i}px;
					} @else if $direction == 'y' {
						margin-top: #{$i}px;
						margin-bottom: #{$i}px;
					} @else {
						margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px;
					}
				}

				.p#{$direction}-sm-#{$i} {
					@if $direction == 'x' {
						padding-left: #{$i}px;
						padding-right: #{$i}px;
					} @else if $direction == 'y' {
						padding-top: #{$i}px;
						padding-bottom: #{$i}px;
					} @else {
						padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px;
					}
				}
			}

			@media (max-width: 767.98px) { // xs
				.m#{$direction}-xs-#{$i} {
					@if $direction == 'x' {
						margin-left: #{$i}px;
						margin-right: #{$i}px;
					} @else if $direction == 'y' {
						margin-top: #{$i}px;
						margin-bottom: #{$i}px;
					} @else {
						margin-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px;
					}
				}

				.p#{$direction}-xs-#{$i} {
					@if $direction == 'x' {
						padding-left: #{$i}px;
						padding-right: #{$i}px;
					} @else if $direction == 'y' {
						padding-top: #{$i}px;
						padding-bottom: #{$i}px;
					} @else {
						padding-#{if($direction == 't', 'top', if($direction == 'r', 'right', if($direction == 'b', 'bottom', 'left')))}: #{$i}px;
					}
				}
			}
		}
	}
	@for $i from 1 through 45 {
		.br-#{$i} {
			border-radius: #{$i}px;
		}
	}