@import "template.css";
@import "main.css";

#school-life {
  p {
    color: var(--color54)
  }

  h4.name {
    color: var(--color3);
    font-size: var(--fz-24);
  }

  &.safeguards-page {


    .box-content {

      background: var(--color3);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      p {
        color: var(--color-white-fb);
        text-align: center;
        font-style: normal;
        font-weight: 600;
      }

    }

    .study-tour__slide {
      display: flex;
      // overflow: hidden;

      .slide-item {
        .content {
          display: flex;
          flex-direction: column;
          background-color: #ECF9FE;
          padding: 25px 25px;

          justify-content: flex-start;
          align-items: baseline;
          text-align: left;
          border-bottom-left-radius: 24px;
          border-bottom-right-radius: 24px;

          h4 {
            &.title {
              font-style: normal;
              font-weight: 700;
              font-size: var(--fz-30);
              color: var(--color-blue);
              margin-bottom: 0;
              text-align: left;

              @media screen and (max-width: 991px) {
                font-size: var(--fz-20);
              }
            }
          }

          .info-list {
            list-style: none;
            /* Xóa dấu chấm */
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            // width: 100%;

            li {
              display: flex;
              margin-bottom: 10px;
              font-size: var(--fz-18);

              @media screen and (max-width: 991px) {
                font-size: var(--fz-16);
              }
            }

            .label {
              font-weight: 700;
              flex: 0 0 150px;
              color: var(--color54);


            }

            .value {
              flex: none;

              @media screen and (max-width: 991px) {
                flex: 1;
              }

              /* Giá trị sẽ chiếm phần còn lại */
              text-align: left;
              /* Canh trái giá trị */
            }
          }



        }

      }

      &.slick-slider {
        .slick-prev {
          background-color: var(--color2);

          @media screen and (min-width: 1281px) {
            left: -60px;
          }

          &::before {
            background: url(../../images/ico-prev-w.svg) center center no-repeat;
          }
        }

        .slick-next {
          background-color: var(--color2);

          @media screen and (min-width: 1281px) {
            right: -60px;
          }

          &::before {
            background: url(../../images/ico-next-w.svg) center center no-repeat;
          }
        }
      }
    }



  }

  .how-to-keep {
    text-align: center;
    margin-top: 30px;
    position: relative;



    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--color2);
      opacity: 0.08;
      z-index: -1;
    }

    &__list {
      gap: 16px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @media screen and (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
      }


      justify-content: space-between;



    }

    &__item {
      background: var(--color3);
      width: 100%;

      @media screen and (min-width: 992px) {
        aspect-ratio: 1 / 1;
      }

      @media screen and (max-width: 991px) {
        min-height: 170px;
      }

      color: var(--color-white-fb);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      border-radius: 16px;
      gap: 25px 0;
      align-content: flex-start;

      p {
        color: var(--color-white-fb) !important;
        text-align: center;
        margin-bottom: 0;
      }

      &--empty {
        opacity: 0.2;

        >* {
          display: none;
        }
      }

    }
  }

  &.student-support-service-page {
    .stdudent-content {
      &__2 {

        @media screen and (max-width: 991px) {
          .content {
            order: 2;
          }

          .img {
            order: 1;
          }
        }
      }
    }
  }

  &.gallery-page {
    .list-gallery {

      .grid {
        display: flex;
        flex-wrap: wrap;
        // gap: 16px 0;
      }

      .element-item {
        // width: calc(25% - 16px);
        margin-bottom: 16px;
      }

      .element-item img {
        width: 100%;
        border-radius: 8px;
      }

      .button-group {

        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 991px) {
          justify-content: space-around;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: stretch;
        }
      }

      .button-group button {
        margin-right: 10px;
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        display: grid;
        align-items: center;
        padding: 1px;
        border-radius: 12px;
        position: relative;
        width: 248px;
        // height: 60px;
        outline: none;
        transition: all 0.3s ease;

        @media screen and (max-width: 991px) {
          margin-bottom: 10px;
          width: 45%;
          // height: 60px;
        }

        span {
          background: #fff;
          border-radius: 12px;
          padding: 18px;
          color: var(--color-blue);
          font-weight: 500;
          transition: all 0.3s ease;
          font-size: var(--fz-20);

          @media screen and (max-width: 1280px) {
            padding: 16px;
          }

          @media screen and (max-width: 991px) {
            padding: 18px;
            font-size: var(--fz-16);
          }

        }

        &::after {
          content: '';
          border-radius: 12px;
          background: var(--bg-radian);
          position: absolute;
          top: -1px;
          left: -1px;
          background-size: 400%;
          z-index: -1;
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          animation: glowing 10s linear infinite;
          transition: opacity .9s ease-in-out;
        }

        &.is-checked,
        &:hover {
          span {
            background: var(--color-blue);
            color: var(--color-white-fb);

          }

          &::after {
            display: none;
          }
        }
      }


    }
  }

  &.student-council-page {
    .info {
      img {
        border-radius: 16px;
      }

      span {
        color: var(--color3);
        font-size: var(--fz-20);
        padding: 0 10px;
        font-weight: 600;
      }

      h4 {
        color: var(--color3);
        font-size: var(--fz-20);
        margin-bottom: 0;

        &.year {
          color: var(--color2);
        }
      }
    }
  }
}